.strong {
    font-weight: bold;
}

li span.label {
    min-width: 150px;
    display: inline-block;
    margin-right: 10px;
}

ul.no-style {
    margin: 0;
    padding: 0;
    list-style: none;
}

.company-logo {
    height: 30px;
}
